<div class="container">
    <h2>Log in your account</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field appearance="fill" class="field-block">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" required formControlName="email">
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
        
        <mat-form-field appearance="fill" class="field-block" required>
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
       
        <button mat-button color="primary">Register</button>
    </form>
</div>